@import './base.css';

.truncate-1 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'customFont1';
    src: './font/MONTSERRAT-MEDIUM.TTF';
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:'customFont1';
}